*{
    margin: 0;
    padding: 0;
}
#banner{
    background-color: gray;
    height:20px;
}
*{
    overflow-x: hidden;
}
#infoParent{
    background-color: black;
}

#info{
    width: 60%;
    margin: auto;
    color: gray;
}

#link{
    float: right;
    color: white;
    margin-right: 25px;
}
#landingDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#__next{
    background-image: 'background.jpg';
}